@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eProto</h1>
    <p class="lead">eProto is a University Project created by two students: Paweł Soja and Sebastian Jena.</p>
    <p><a href="https://github.com/sebastianjena/projektbazy.git" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>